body {
    background-color: aquamarine;
}

.header{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.networkbutton {
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}

.fa-brands.fa-ethereum {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.fa-solid.fa-caret-down {
    background-color: white;
}

.selectnetwork {
    display: none;
}

.walletbutton {
    border-radius: 10px;
    border-color: white;
    font-weight: bold;
    padding: 5px;
}

.fa-solid.fa-ellipsis {
    margin-left: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}

.dropdownmenu {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 50px 250px;
    padding: 10px;
    border-radius: 15px;
}

.formheading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px;
    width: 100%;
}

.inputfield {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputfield i {
    border: solid;
    border-color: white;
    border-radius: 5px;
    text-align: center;
    width: 15px;
    height: 15px;
}

.walletbutton {
    display: block;
    text-align: center;
}

